.sideMenu {
    width: 25vw;
    background-color: transparent;
    position: fixed;
    transform: translate(10vh,30vh);
}

.list {
    list-style: none;
}

.listItem {
    font-size: 20px;
}

@media (max-width: 700px) {
    .sideMenu {
        width: 100vw;
        height: 100vh;
        transform: translate(0,0);
    }

    .list {
        height: 100%;
        margin-top: 15vh; 
    }
}