.list {
    list-style: none;
}

.listItem {
    font-size: 20px;
}

.active {
    font-weight: bold;
}

@media (max-width: 700px) {
    .list {
        height: 100%;
        margin-top: 15vh; 
    }

    
    .listItem {
        font-size: calc(25px + 15 * (100vw - 320px) / 1120);
    }
}

@media (min-width: 1500px) {
    .listItem {
        font-size: calc(25px + 10 * (100vw - 320px) / 1120);
    }
}