@import url('../Stylesheets/colors.import.less');
@import url('../Stylesheets/mixin.import.less');

.header {
    height: 10vh;
    width: 100%;
    position: absolute;
}

.logo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cart {
    height: 100%;
    position: absolute;
    right: 4vw;
}