@import url('../Stylesheets/colors.import.less');
@import url('../Stylesheets/mixin.import.less');

.header {
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
}

.logo {
    position: absolute;
    height: 100%;
    left: 4vw;
}

.cart {
    height: 100%;
    position: absolute;
    right: 4vw;
    display: flex;
}

.cartIcon {
    font-size: 1.3em;
    margin-top: 17px;
    margin-left: 10px;
}